body {
    background: red;
    box-sizing: border-box;
    color: green;
}

body {
    background: yellow;
}

html {
    background: orange;
    box-sizing: border-box;
}


/*styleguide

title: Test
description: Description
category: Test

---

this is a test

endstyleguide*/