/* -------------------------------
   Typography
------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1;
    + p {
        margin-top: 1em
    }
}

h1 {@include font(66);}
h2 {@include font(42);}
h3 {@include font(30);}
h4 {@include font(18);}
h5 {@include font(15);}

@media #{$small-only} {
    h1 {@include font(32);}
    h2 {@include font(24);}
    h3 {@include font(20);}
    h4 {@include font(16);}
}

p {
    margin: 0 0 1em 0;
}

